<script setup>
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

toast.info("กินอะไร", {
  autoClose: 1500,
  position:toast.POSITION.TOP_CENTER
})



</script>

<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1920x0/2019/01/30/f1565e8d11384a66add967ff6044d88e.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">กุ้งผัดเม็ดมะม่วง<br>หิมพานต์</h5>
            <p class="card-text">
            </p>
            <a href="https://www.wongnai.com/recipes/stir-fried-shrimp-with-cashew-nuts" class="btn btn-primary btn-sm" @click="notify">ดูสูตร</a>
          </div>
          
        </div>
      </div>
      
      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1920x0/2019/01/28/a5b2d2fcce3c4ad0b46a30427519d5f7.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">ไก่แช่เหล้า<br><br><br></h5>
            <p class="card-text">
            </p>
            <a href="https://www.wongnai.com/recipes/drunken-chicken" class="btn btn-primary btn-sm" @click="notify">ดูสูตร</a>
          </div>
          
        </div>
      </div>

      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1920x0/2019/02/04/52062dd547ee4762ba6b80c4d0d7940f.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">แซนวิช<br>ฮอยจ๊อกุ้ง<br><br></h5>
            <p class="card-text">
            </p>
            <a href="https://www.wongnai.com/recipes/deep-fried-minced-shrimp-sandwich" class="btn btn-primary btn-sm" @click="notify">ดูสูตร.</a>
          </div>
          
        </div>
      </div>

      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1920x0/2019/02/04/518fd8a7245748a4b7a3e58c0aee3055.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">สามชั้นตุ๋นเต้าเจี้ยว<br><br></h5>
            <p class="card-text">
            </p>
            <a href="https://www.wongnai.com/recipes/pork-belly-in-fermented-soybean-stew" class="btn btn-primary btn-sm" @click="notify">ดูสูตร</a>
          </div>
          
        </div>
      </div>

      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://img.wongnai.com/p/1920x0/2019/03/09/6490beaf8c6844d4b1417af68c9d5485.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">ซาลาเปาช็อกแลตลาวา<br><br></h5>
            <p class="card-text">
            </p>
            <a href="#" class="btn btn-primary btn-sm" @click="notify">ดูสูตร</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

h5,p {
  font-family: 'Sarabun', sans-serif;
}

a{
  font-family: 'Sarabun', sans-serif;
}

.card{
  margin-top:15px ;
}
.card .card-header{
  overflow: hidden;
}
.card-header img {
  width: 220px;
  height: 150px;
}
.card-body{
  width: 150px;
  height: 150px;
}
</style>