<script setup>
import { RouterView } from 'vue-router';
import { useHead } from '@unhead/vue'

import { reactive, computed } from 'vue';

const siteData = reactive({
  title: 'สูตรอาหารจีน',
  description:'สูตรอาหารจีน'
})

useHead({
  title: computed(()=>siteData.title),
  meta: [
    {
      name: 'สูตรอาหารจีน',
      content:computed(()=> siteData.description)
    }
  ]
})
</script>

<template>
  <RouterView />
</template>

<style scoped>
</style>
